/* start variables */
:root {
  --main-color: rgb(114, 208, 244);
  --dark-main-color: rgb(0, 191, 240);
  --heading-n1: rgb(87, 203, 244);
  --color-text:rgb(255, 255, 255);
  --big-h-color: rgb(80, 89, 97);
  
   --padding:40px;
   --color-p: rgb(139, 146, 151),
   
}
/* end variables */
/* global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color:var( --color-text);
  font-size: 16px;
  /* font-family: "Open Sans Condensed", sans-serif; */
  background-color: #f3f3f3;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules */


/* start components */
/* 
i{
    font-size: 14px;
    padding: 10px;
} */
.Social_Icons ul {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.Social_Icons ul a {
    display: block;
    margin-left: 15px;
    text-decoration: none;
    line-height: 1.75;
}
.Social_Icons ul a i{
    color: var(--color-text);
    font-size: 12px;
    padding: 5px;
    border-radius: 2px;
}
.Social_Icons ul a i:hover{
    color: var(--main-color);
    background-color: var(--color-text);
}

.heading_n1{
 font-size: 20px;
 color: var(--heading-n1);
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}

/* end components */

.big_slider{
  height: 799px;
  background-color: #ccc;
  display: none;
 
}

/* start header */
.Social_Networks{
    background-color: rgb(0, 191, 240);
    min-height: 40px;
    

}
.Social_Networks .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phone_number{
    font-size: 12px;
   font-family: "Open Sans";
   color: rgb(255, 255, 255);
   text-transform: uppercase;
 
}
header{
    background-color: var(--main-color);
    
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

}
header .logo{}
header nav {
    flex-basis: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul
{
    
    display: flex;
    justify-content: center;}
header nav ul li > a{
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header nav ul  li > a.active,
header nav ul a:hover{
    background-color: var(--color-text);
    color: var(--main-color);
    text-decoration: none;
}

header nav ul >li{
    position: relative;
}

nav ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(83, 81, 79);
    width: 100%;
  
   
}
nav ul li ul li {
    width: 100%;
}
nav ul li ul li a{
    display: block;
    
    width: 100%;
    color: red;
}






.toggel_icon {
    width: 20px;
    height: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   

}
.toggel_icon span{
    width: 100%;
    height:3px;
    background-color: #000;
    display: block;
    margin: 2px 0;
}
.toggel_icon span:nth-child(2){
    width: 50%;
}
/* end header */

/* start intro */
.intro{
    padding:var(--padding) 0;

}
.intro .intro_cont{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.intro .intro_cont> div{
    flex:1;
    text-align: center;
}
.intro .intro_image{}
.intro .intro_image img{}
.intro .text{
  text-align: center;
}
.intro .text h1{
  font-size: 38px;
  font-family: "Open Sans";
  color: rgb(80, 89, 97);
  line-height: 1.2;
  text-align: center;
}
.intro .text p{
  color: rgb(139, 146, 151);
  line-height:1.6;
  font-size: 16px;
}
/* end intro */
/* start live */
.live{
  padding: var(--padding) 0;
}

.live .live_cont{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  color: var( --color-text);

}
.live .group{
  flex-basis: 32%;
}
.live .group .header{
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding:10px 20px;
  text-transform: uppercase;
}
.header h2{
  font-size: 25px;
  font-family: "Open Sans";
  color: var( --color-text);
  font-style: italic;
  line-height: 1.2;
}
.header h2 span{
  font-weight: lighter;
}
.live .group .header h4{
  font-size: 15px;
  font-family: "Open Sans";
  color: var( --color-text);
  font-weight: bold;
  line-height: 1.2;
}
.footer{
  background-color: var( --dark-main-color);
  height: 3px;
  margin: 0;
}
.live .group .main{
  position: relative;
  overflow:hidden;
  

}
.live .group .main img{
  max-width:100%;
  background-size: cover;

}
.live .group .main button{
  position: absolute;
top: 50%;
transform: translate(-50%, -50%);
min-width: 150px;
left: 483px;
z-index: 5;
padding: 11px 0px;
transition: all 0.3s ease-in-out;
background-color: var( --dark-main-color);
color: var( --color-text);
border: none;

}
.live .group .main:hover  button{
  left: 50%;;
  color: var( --dark-main-color);
  background-color:var(--big-h-color);

}
/* <!-- start Classes / Trainers --> */
.Classes{
  padding: var(--padding) 0;
}
.Classes .container{
  display: flex;
}
.Classes .All_Classes{
  flex-basis: 70%;
  text-transform: uppercase;
}
.Classes .classes_container{
  display: flex;
  flex-wrap: wrap;

}

.Classes .col{
  background-color: var(--main-color);
  padding: 10px 20px;
  flex-basis:50%;
}
.Classes .col:first-child{
  border-right: 1px solid #fff;
}
.Classes .table_row{
  display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding: 10px 0px;
}
.Classes .table_row li{
  list-style: none;
  
  display: inline-flex;
}
.Classes .table_row li a{
  font-size: 16px;
  color:var(--color-text);
    text-decoration: none;
}
.Classes .table_row li a:hover{
 
  color:var(--big-h-color);
    
}
.Classes .table_row i{
  font-size: 18px;
  padding: 0 10px;
  color:var(--color-text);
}
.Classes .table_row .clock{}
.Classes .table_row .info_bar{
  font-size:20px;
  padding:0 10px;
  color:#fff;
  margin-left: auto;

}






.i_tooltip::before{
  content: attr(data-icon);
  position: absolute;
  bottom: 141%;
  right: -27px;
  transform: translateX(50%);
  background-color: #fff;
  color:var(--main-color);
  font-size: 16px;
  font-weight:400;
  text-transform: uppercase;
  width: 120px;
}
.i_tooltip{
  position: relative;
}
.i_tooltip:hover::before,
.i_tooltip:hover::after {
display: block;
}
.i_tooltip::after{
  content: "";
  position: absolute;
  border-width: 8px;
  border-style: solid;
  border-color: #fff transparent transparent;
  top: -14px;
  left: 11px;
}
.i_tooltip::after,
.i_tooltip::before{
  display: none;
}






.membership{
  flex-basis: 28%;
}
.membership .membership_cont{
  background-color:#ccc;
  text-align: center;
}
.membership .membership_cont h3{
  text-transform: uppercase;

}
.membership .membership_cont p{}
.membership .membership_cont button.more{
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 3px;
  color:#fff;
  background-color:transparent;
}
.membership .membership_cont button.more:hover{
  color:var(--main-color);
  background-color:#fff;
}





/* <!-- end Classes / Trainers --> */







/* .live .live_cont{
  display: flex;
  justify-content: space-between;

}
.live .live_cont .group{
  flex-basis: 30%;
  overflow:hidden;
}
.live .live_cont .group .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var( --main-color);
}
.live .live_cont .group .header h3 {}
.live .live_cont .group .header h6 {
  font-family: "Open Sans";
  color: var( --color-text);
  font-weight: bold;
  line-height: 1.2;
}
.live .live_cont .group .main {
  position: relative;
  cursor: pointer;
  transition: 0.8s ease-in-out;


}
.live .live_cont .group .main img {
  max-width :100%;
}
.live .live_cont .group .main button {
  position: absolute;
  top: 50%;
  left: -200px;
   transform: translatey(-50%);
   
}
.live .live_cont .group .main:hover  button {
  color: red;
  transform: translateX(50%);
  transition: 0.8s ease-in-out;
}
.live .live_cont .group .main .caption button {
  padding: 11px 40px;
  color:var(--color-text);
    background-color: var(--dark-main-color);
    border: none;
    outline: none;
}
.live .live_cont .group .footer {
  background-color:var(--dark-main-color);
  
  
  height: 4px;
} */
/* end live */